<h1 class="cabezera">Mis Proyectos</h1>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['libro']">Libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['formulario']">Nuevo Libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto2']">Punto 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['formularioT']">Formulario Transaccion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto3']">Punto 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['formularioP']">Formulario Pasaje</a>
          </li>
        </ul>
      </div>

    </div>
</nav>