<h1 class="cabezera">Mis Proyectos</h1>
<!-- ********************************************************* -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid  ">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Libro
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['formularioL']">Nuevo Libro</a></li>
              <li><a class="dropdown-item" [routerLink]="['libro']">Lista de Libros</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Divisas
                  </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['divisa']">Divisa</a></li>
              <li><a class="dropdown-item" [routerLink]="['formularioT']">Registro de Divisas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Pasaje
            </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['formularioP']">Nuevo Pasaje</a></li>
              <li><a class="dropdown-item" [routerLink]="['pasaje']">Registro Pasaje</a></li>
          </ul>
        </li>
              
      </ul>
    </div>
  </div>
</nav>