<div class="container-fluid contenido">

    <div class="row">
        <div class="col-md-6 g-2">
            <button class="btn btn-primary mb-2 btn_filtro" *ngIf="filtro"
                (click)="obtenerPasajeFiltro()">
                Recuperar por filtro
            </button>
            <div class="mb-3 col-md-3">
                <select class="form-select form-select-sm" name="categoria" aria-placeholder="Seleccione catedoria"
                [(ngModel)]="categoria"(ngModelChange)="onChange($event)">
                    <option selected>Eleiga categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria" name="categoria">
                        {{categoria}}
                    </option>
                </select>
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 g-4">
            <button class="btn btn-primary my-2 btn_filtro" (click)="obtenerPasajes()">
                Recuperar todo
            </button>
            <button class="btn btn-primary btn_filtro" (click)="nuevoPasaje()">
                Nuevo Pasaje
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-10 offset-1 g-4">
            <table class="table table-dark table-sm">
                <thead>
                  <tr>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Fecha de compra</th>
                    <th>Nombre del pasajero</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pasaje of pasajes">
                        <td>{{'$' + pasaje.precioPasaje}}</td>
                        <td>{{pasaje.categoriaPasajero}}</td>
                        <td>{{pasaje.fechaCompra | date:'longDate'}}</td>
                        <td>{{pasaje.pasajero.apellido}}, {{pasaje.pasajero.nombre}}</td>
                        <td>

                            <button class="btn btn-primary my-2 btn_accion" (click)="editarPasaje(pasaje)">
                                Editar
                            </button>

                            <button class="btn btn-danger btn_accion" (click)="eliminarPasaje(pasaje)">
                                Eliminar
                            </button>

                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>