<div class="container-fluid contenido">

    <div class="row">
        <div class="col-md-6 g-2">
            <button class="btn btn-primary" *ngIf="filtro"
                (click)="obtenerPasajeFiltro()">
                Recuperar por filtro
            </button>
            <div class="col-md-8">
                <input type="text" [(ngModel)]="categoria" (ngModelChange)="onChange($event)"
                placeholder="Ingrese categoria">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 g-4">
            <button class="btn btn-primary" (click)="obtenerPasajes()">
                Recuperar todo
            </button>
            <button class="btn btn-primary offset-1" (click)="nuevoPasaje()">Nuevo Pasaje</button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-10 offset-1 g-4">
            <table class="table table-dark table-sm">
                <thead>
                  <tr>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Fecha de compra</th>
                    <th>Nombre del pasajero</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pasaje of pasajes">
                        <td>{{pasaje.precioPasaje}}</td>
                        <td>{{pasaje.categoriaPasajero}}</td>
                        <td>{{pasaje.fechaCompra | date:'longDate'}}</td>
                        <td>{{pasaje.pasajero.apellido}}, {{pasaje.pasajero.nombre}}</td>
                        <td>

                            <button class="btn btn-primary" (click)="editarPasaje(pasaje)">
                                Editar
                            </button>

                            <button class="btn btn-danger" (click)="eliminarPasaje(pasaje)">
                                Eliminar
                            </button>

                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>