*{
    margin: 0px;
    padding: 0px;
}

.tSeccion{
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.text{
    color: red;
    font-size: 20px;
}

.cuerpo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:20px ;
}

img{
    width: 620px;
    height: 780px;
}